# Backend Environment Variables
PORT=3000
DB_NAME=job_application_tracker
MONGO_URI=your_mongodb_connection_string
JWT_ACCESS_SECRET=your_jwt_access_secret
JWT_REFRESH_SECRET=your_jwt_refresh_secret
CLIENT_URL=https://job-application-tracker-sigma-three-39.vercel.app
